<!DOCTYPE html>
<html
    lang="en"
    data-image-optimizing-origin="<%= process.env.IMAGE_OPTIMIZING_ORIGIN %>"
    data-media-backend="<%= global.MAGENTO_MEDIA_BACKEND_URL %>"
>
    <head>
        <!-- Metadata -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="theme-color" content="#0F213A" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta
            name="msapplication-TileImage"
            content="/assets/icons/ms-icon-144x144.png"
        />
        <meta
            name="msapplication-config"
            content="/assets/icons/browserconfig.xml"
        />
        <meta
            name="p:domain_verify"
            content="<%= process.env.MAGENTO_SECURITY_SCAN_CODE %>"
        />
        <link rel="manifest" href="/assets/manifest.json" />
        <link rel="manifest" href="/asset-manifest.json" />

        <link rel="shortcut icon" href="/assets/favicon.ico" />

        <link rel="preconnect" href="<%= process.env.MAGENTO_BACKEND_URL %>" />
        <link rel="preconnect" href="https://cdn-scripts.signifyd.com" />
        <link rel="preconnect" href="https://imgs.signifyd.com" />
        <link rel="preconnect" href="https://h.online-metrix.net" />
        <link rel="preconnect" href="https://apps.bazaarvoice.com/" />
        <link rel="preload" href="critical.css" type="text/css" as="style"/>

        <!--Pre load fonts for better perfomance and user experience-->
        <link
            rel="preload"
            as="font"
            href="/fonts/visuelt-medium.woff2"
            type="font/woff2"
            crossorigin="anonymous"
        />
        <link
            rel="preload"
            as="font"
            href="/fonts/visuelt-regular.woff2"
            type="font/woff2"
            crossorigin="anonymous"
        />
        <link
            rel="preload"
            as="font"
            href="/fonts/visuelt-light.woff2"
            type="font/woff2"
            crossorigin="anonymous"
        />
        <link
            rel="preload"
            as="font"
            href="/fonts/visuelt-bold.woff2"
            type="font/woff2"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <link rel="stylesheet" href="critical.css" type="text/css">
        <div id="root"></div>
        <!-- Fallback for when JavaScript is disabled. -->
        <noscript>
            <style>
                .fallback-nojs {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                }
                .fallback-nojs a {
                    color: currentColor;
                }
            </style>
            <div class="fallback-nojs">
                <h1>Oops! JavaScript is disabled</h1>
                <div>
                    To browse the ELEMIS store,<br />
                    <a href="https://www.enable-javascript.com">
                        enable JavaScript in your browser.
                    </a>
                </div>
            </div>
        </noscript>
    </body>
</html>
